/* Colors and fonts */

body {
    background: #F5F5F5;
    color: #566274;
    font-family: 'Lora', serif;
    font-size: 16px;
    font-weight: lighter;
}

h1, h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold ;

}

h1 {
	color: #18A58A;
	font-size: 32px;
	font-weight: 900 
}

h2 {
	color: #1590AC;
    font-size: 22px;
    font-weight: 400;
}

a {
text-decoration: none;
color: #EE796C;
font-weight: 300 ;
font-family: 'Roboto', sans-serif; 
font-size: 16px;
}

a:hover {
color: #19A785;
}


/* Custom design with class */

.container {
 width: 700px
 margin: 40px auto;
}

.card-white {}
 background-color:white;
 padding: 40px;
 box-shadow: 0px 10px 30px rgba(0,0,0,0.1)
 border-raduis: 4px;
 margin: 20px 0px
 text-align: center
 }

 .img-circle {
border-radius: 50%

 }

.btn_blue {
background-color: #EE796C
color: white;
padding: 15px 20px
border-radius: 4px;

}




